<div class="wir-button-group">
  <div class="wir-button-group__container">
    <div class="wir-button-group__item wir-button-group__button">
      Паказаць яшчэ 15
    </div>
    <div class="wir-button-group__item wir-button-group__button">
      Яшчэ 30
    </div>
    <div class="wir-button-group__item wir-button-group__button">
      Яшчэ 60
    </div>
    <div class="wir-button-group__item wir-button-group__button">
      Ўсе
    </div>
  </div>
</div>
  