<div class="wir-button-group">
  <button class="wir-button-group__button">
    Паказаць яшчэ 15
  </button>
  <button class="wir-button-group__button">
    Яшчэ 30
  </button>
  <button class="wir-button-group__button">
    Яшчэ 60
  </button>
  <button class="wir-button-group__button">
    Ўсе
  </button>
</div>
  