@import '../responsiveness';
@import '../variables';

.topic {
  margin: 3rem 6rem 3rem 3rem;

  &__other {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__text {
    color: $primary;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 20px;
  }
}
