@import '../responsiveness';
@import '../variables';

.topic {
  margin: 3rem 6rem 3rem 3rem;

  &__other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__text {
    color: $primary;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 20px;
  }
}

.screen-desktop {
  .topic {
    &__card {
      &--second {
        margin-left: 2px;
      }
    }
  }
}

.screen-touch,
.screen-mobile,
.screen-tablet,
.screen-tablet-large {
  .topic {
    &__other,
    &__headline {
      margin-bottom: 0;
    }

    &__card {
      margin-bottom: 25px;
    }
  }
}

.screen-touch {
  .topic {
    margin-left: calc((100% - 480px) / 3);
    margin-right: calc((100% - 480px) * 2 / 3);
  }
}

.screen-mobile {
  .topic {
    margin-left: calc((100% - 300px) / 3);
    margin-right: calc((100% - 300px) * 2 / 3);
  }
}

.screen-tablet,
.screen-tablet-large {
  .topic {
    margin-left: calc((100% - 624px) / 3);
    margin-right: calc((100% - 624px) * 2 / 3);
  }
}
