@import '../variables';

.column.article {
  padding: 0;
}

.article {
  background-color: $white;
  margin-left: 7rem;
}

.article-top {
  padding: 0 3rem;

  &__title {
    padding-top: 2rem;
  }

  &__sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;

    .tag.is-white {
      color: $primary;
    }
  }

  &__link {
    display: table;
  }

  &__icon {
    color: $primary-gray;
    display: table-cell;
    vertical-align: middle;

    &:hover {
      color: $primary-black;
    }
  }

  &__author {
    margin: 0 1rem;
  }

  &__topic {
    border: 1px solid $primary;
    margin: 0 1rem;
  }

  .level.has-text-centered {
    margin-bottom: 1rem;
  }

  &__details {
    padding: 0 10rem;
  }

  &__tags {
    padding-bottom: 1.5rem;

    .tag {
      background-color: $primary-bright;
      color: $white;
      font-size: 0.85rem;
    }
  }

  &__tag {
    margin: 0 0.5rem;
  }
}

.article-imagewrapper {
  padding-bottom: 1.5rem;
}

.article-text {
  font-family: $family-serif;
  padding: 0 3rem 1.5rem;
}

.article-bottom {
  padding-bottom: 1.5rem;

  &__item {
    margin: 0 1rem;
  }

  a {
    color: $primary;
  }
}

.article-line {
  margin: 0;
}

.article-more {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.25rem;

  &__text {
    padding-bottom: 1.5rem;
  }

  .column {
    padding: 0;
  }
}

.article-card {
  border: 1px solid $primary-gray;
  border-radius: 3px;
  height: 24.5rem;
  margin: 0.5rem;
  width: 18rem;

  .media {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
  }

  &__image {
    object-fit: cover;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.75rem;
    text-align: left;
  }

  &__title {
    font-size: 19px;
  }

  &__photo {
    border-radius: 3px;
  }

  &__details {
    align-items: center;
    color: $primary-gray;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
  }

  &__detail {
    font-size: 11px;
  }

  &__author-topic {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
  }

  &__topic {
    border: 1px solid $primary;
    margin-left: 0.5rem;
  }

  .tag.is-white {
    color: $primary;
  }

  .button {
    border: none; /* stylelint-disable-line */
    color: $primary-gray;
  }

  .button:hover {
    color: $primary-gray;
  }

  .icon:hover {
    font-size: 1.3rem;
  }
}

.article-side {
  max-width: 7rem;

  &__buttons {
    margin-left: 1.5rem;
    position: fixed;
    top: 150px;
  }

  .button {
    border: none; /* stylelint-disable-line */
    height: 2.6rem;
    width: 2.6rem;
  }

  &__button {
    margin: 0.2rem;

    &--bookmark {
      margin-bottom: 2.3rem;
    }
  }

  .icon:hover {
    font-size: 1.4rem;
  }

  &__icon {
    &--bookmark {
      color: $primary-gray;
    }

    &--facebook {
      color: $facebook;
    }

    &--vk {
      color: $vk;
    }

    &--twitter {
      color: $twitter;
    }
  }
}
