<div class="block block__no-background banner">
  <a href="https://map.wir.by" target="_blank" rel="noreferrer noopener">
    <img src="<%= imagesPath %>/mock/banners/mapa-<%= locals.screen %>.png" alt="Мапа легенд Беларусі" />
  </a>
</div>
