@import '../variables';

.block {
  padding-left: calc((100% - 1020px) / 3);
  padding-right: calc((100% - 1020px) * 2 / 3);

  &__no-background {
    margin-top: 60px;
  }

  &__with-background {
    background-color: $primary-black;
    margin-bottom: 20px;
    margin-top: 80px;
  }

  &__labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--right {
      order: 1;
    }
  }

  &__label {
    color: $primary-white;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    // word-spacing: 100vw;
  }
}
