<div class="block block__no-background">
  <%- include('../cards/article.ejs', {
    ...locals.featuredOptions,
    size: { desktop: 'xxl', tablet: 'l', mobile: 'square-s' }[locals.screen],
  }) %>
</div>
