<div class="screen-<%= locals.screen %>">

  <div class="block block__no-background block__featured">
    <%- include('../cards/article.ejs', {
      ...locals.featuredOptions,
      size: 'xxl',
    }) %>
  </div>

</div>
