<div class="screen-<%= locals.screen %>">

  <div class="block block__no-background two-in-row">

    <div class="two-in-row__first">
      <%- include('../cards/video.ejs', {
        ...locals.first,
        size: { desktop: 'm', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
      }) %>
    </div>

    <div class="two-in-row__second">
      <%- include('../cards/collection.ejs', {
        ...locals.second,
        size: { desktop: 'm', tablet: 'l', touch: 'm', mobile: 'square-s'}[locals.screen],
      }) %>
    </div>

  </div>

</div>
