<div class="screen-<%= locals.screen %>">
  
  <div class="block block__no-background block__twoInRow">
    <%- include('../cards/video.ejs', {
      size: 'm',
      title: 'Джэймс Джойс',
      author: 'Наталля Ламека'
    }) %>
    <%- include('../cards/collection.ejs', {
      size: 'm',
      backgroundColor: '#f6d39d',
      partNumber: 1,
      collectionName: 'Міцкевіч: геаграфія паэта',
      title: 'Літва! Ты, як здароўе ў нас, мая Айчына!',
      author: 'Марыя Бадзей',
      isDarkTheme: true,
    }) %>
  </div>

</div>
