.two-in-row {
  display: flex;
}

.screen-desktop {
  .two-in-row {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1020px;
  }
}

.screen-mobile {
  .two-in-row {
    flex-direction: column;
    justify-content: space-between;

    &__first {
      margin-bottom: 30px;
    }
  }
}
