<div class="screen-<%= locals.screen %>">

  <div class="block block__no-background block__twoInRow">

    <%- include('../cards/video.ejs', {
      ...locals.first,
      size: 'm',
    }) %>

    <%- include('../cards/collection.ejs', {
      ...locals.second,
      size: 'm',
    }) %>
  </div>

</div>
