<div class="margin-element <%= locals.className %>">
  <div class="margin-element__title"><%= locals.title %></div>
  <span><%= locals.noteText %></span>
  <a>Спасылкі лепей таксама на палях</a>
</div>
