<div class="article-image">
  <img
    class="article-image__image"
    src="<%= imagesPath %>/mock/miscellaneous/article-page-image.png"
    alt="Вялікае фота ў тэксце (таксама абавязкова патрэбна ўказваць крыніцу)"
  />
  <div class="article-image__caption">
    Вялікае фота ў тэксце (таксама абавязкова патрэбна ўказваць крыніцу)
  </div>
</div>