<div class="article-poem">
  <div class="article-poem__content">
    Ноч павісла над зямлёю,<br />
    Ўсё абнята цішынёю,<br />
    Поўнай страху, поўнай чар.<br />
    <br />
    Быў гарачы дзень бясконца,<br />
    Не сьвяціла — жэгла сонца,<br />
    Парнасць страшная і вар.<br />
    <br />
    І вось неба не ўтрывала,<br />
    Ўсё ў агнях запалыхала,<br />
    Мрок хістаецца, дрыжыць...<br />
    <br />
    З верша «Вераб’іная ноч»
  </div>
</div>
