@import '../index';

.wir-input {
  display: flex;
  position: relative;

  &__icon {
    color: $primary-black;
    font-size: 20px;
    margin-right: 11.5px;
    order: -1;
    transition: 150ms ease all;
  }

  &__bar {
    background-color: $primary-black;
    bottom: -10px;
    height: 2px;
    position: absolute;
    transition: 150ms ease all;
    width: 100%;
  }

  input {
    background: inherit;
    border: 0;
    flex-grow: 1;
    font-size: 20px;
    outline: none;

    &:focus ~ .wir-input {
      &__bar {
        background-color: $primary;
      }

      &__icon {
        color: $primary;
      }
    }

    &:disabled ~ .wir-input {
      &__bar {
        background-color: $primary-grey;
      }

      &__icon {
        color: $primary-grey;
      }
    }
  }
}
