<div class="size-<%= locals.size %>">
  <div class="location <% if (locals.isDarkTheme) { %>theme-dark<% } %>" style="background-image: url('<%= imagesPath %>/mock/covers/location.png');">
    <div class="location__title"><%= locals.title %></div>
  </div>
</div>
